<div class="admin-redes-container">
    <div class="admin-redes-header">
        <h2>Redes</h2>
        <a [routerLink]="['/admin/redes/add']"><i class="fas fa-plus"></i> Añadir Redes</a>
    </div>

    <div class="admin-redes-body">
        <div class="admin-redes-item" *ngFor="let red of redes">
            <div class="admin-redes-img">
                <i class="{{ red.icono }}"></i>
            </div>
            <div class="admin-redes-text">
                <h3>{{ red.nombre }}</h3>
                <a href="{{ red.link }}" target="_blank">{{ red.link }}</a>
            </div>
            <div class="admin-redes-buttons">
                <a [routerLink]="['/admin/redes/edit', red._id]"><i class="fas fa-pencil-alt"></i></a>
                <a (click)="deleteRedes(red._id)"><i class="fas fa-trash-alt"></i></a>
                <!-- <button><i class="fas fa-eye"></i></button> -->
            </div>
        </div>
    </div>
</div>