.admin-lugares-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-lugares-container h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #cc8c18;
    display: block;
    letter-spacing: 10px;
    text-align: center;
}
.admin-lugares-container .admin-lugares-line{
    width: 100%;
    height: 1px;
    background-color: #cc8c18;
    margin-bottom: 20px;
}
.admin-lugares-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.admin-lugares-container form .form-group{
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-lugares-container form label{
    margin-bottom: 20px;
    font-weight: 700;
    width: 100%;
}
.admin-lugares-container form input,.admin-lugares-container form textarea{
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}
.admin-lugares-container form button{
    background-color: #cc8c18;
    color: #faf3e7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .admin-lugares-container form .form-group{
        width: 100%;
    }
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#buttons .cancel{
    background-color: #DC3545;
}