<section class="about" id="about">
    <h2>Sobre Nosotros</h2>
    <div class="about-line"></div>
    <span>¿Quienes Somos?</span>
    <div class="about-container">
        <div class="about-text">
            <h3>{{aboutData?.titulo}}</h3>
            <p>
                {{aboutData?.descripcion}}
            </p>
            <button>Contactanos <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
        <div class="about-image">
            <img src="{{aboutData?.imagen}}" alt="about">
        </div>
    </div>
</section>

